.page-template-page-novosti {

	#homeContBoxOne {
		float: left;
		min-height: 470px;
	}// end of home cont box one ( global one )

	.entryHeader {
		clear: both;
		text-align: center;

		p,a {
			font-size: rem(16px);
			color: $mainWhite;
			text-align: left;
		}

	}// end of entry header

	.aboutNews {
		
		padding-top: 120px;

		.newsPosts {

			margin-right: 30px;
			max-width: 585px;
			background-color: $lightBg;
			margin-bottom: 40px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}

		}// end news posts

		.smallNews {
			width: 25%;
			max-width: 277px;
			margin-right: 30px;

			&:nth-of-type(2n) {
				margin-right: 30px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}

		}// end small news

		.newsContent {

			padding: 30px 10px 30px 20px;

			span {
				color: #a6a6a6;
				font-size: .75rem;
				font-weight: 700;
				display: inline-block;
				width: 100%;
				padding-left: 20px;
				margin-bottom: 20px;
				position: relative;

				&::before {
					content: "";
					width: 12px;
					height: 12px;
					background: url(images/home-news-icon.png) no-repeat center center;
					background-size: contain;
					position: absolute;
					left: 0;
				}
			}

			p {
				font-size: rem(16px);
				display: inline-block;
				width: 100%;
				font-weight: 700;
			}

		}// end news content

		.pagination {

			.page-numbers {
				display: block;
				float: left;
				background: $lightBg;
				color: $otherLightTypog;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				vertical-align: middle;
				text-align: center;
				margin: 0 10px 0 0;
				padding: 8px 0;
				font-weight: 700;

				&.current {
					background: $mainGreen;
					color: $mainWhite;
				}
			}

			.next {
				span {
					transform: rotate(-90deg);
					display: inline-block;
				}
			}

			.prev {
				span {
					transform: rotate(90deg);
					display: inline-block;
				}
			}

			.pagNumOfPosts {
				color: #afafaf;
				height: 35px;
				line-height: 35px;
			}

		}// end pagination

		.divider {
			height: 1px;
			background: #e6e6e6;
			margin-bottom: 40px;
			display: block;
		}

	}// end about news

}// end of page novosti