.page-template-page-products-funkcionalnosti {

	#homeContBoxOne {
		float: left;
		min-height: 470px;
	}// end of home cont box one ( global one )

	.entryHeader {
		clear: both;
		text-align: center;

		p,a {
			font-size: rem(16px);
			color: $mainWhite;
			text-align: left;
		}

		h2 {
			font-size: rem(30px);
		}

	}// end of entry header

	.productSubMenu {
		background: $darkBlack;

		.menu {

			padding: 22px 0;

			li {

				display: inline-block;
				width: auto;
				margin-left: 50px;
				

				&:first-of-type {
					margin-left: 0;
				}

				a {
					color: $mainWhite;
					opacity: 0.5;
					font-weight: 700;
					font-size: rem(14px);
					text-transform: uppercase;
					display: inline-block;
					padding: 5px 0;
					border-bottom: 2px solid transparent;

					&:hover {
						opacity: 1;
						border-bottom: 2px solid $mainGreen;
					}

					&.activePage {
						border-bottom: 2px solid $mainGreen;
						opacity: 1;
					}

				}

			}

		}

	}// end product submenu

	.funkcionalnostiSection {

		padding: 100px 0;

		h2 {
			position: relative;
			font-size: rem(24px);
			font-weight: 700;
			padding-bottom: 30px;
			margin-bottom: 40px;

			&::after {
				content: "";
				height: 2px;
				width: 100px;
				background: $mainGreen;
				position: absolute;
				bottom: 0;
				left: 0;
			}

		}

		.tablepress {

			thead {

				th {
					font-size: rem(16px);
					font-weight: 700;
					color: $mainTypog;
					background-color: #f7f7f7;
				}

			}

			tbody {


				td {
					font-size: rem(14px);
					font-weight: 400;
					color: $mainTypog;
					background-color: #fafafa;
					vertical-align: middle;
				}

			}

		}// end table press

		.funkcionalnostiAfterTable {

			p {
				font-size: rem(18px);
				line-height: 24px;
				font-weight: 400;
				margin: 30px 0;

				a {
					font-weight: 700;
					color: $mainGreen;
				}

			}

		}// end funkcionalnosti after table

	}// funkcionalnosti section

	#homeContBoxLogos {
		border-top: 1px solid $lightBorder;
	}

}// end of page products funkcionalnosti

