.page-template-page-services {

	#homeContBoxOne {
		float: left;
		min-height: 470px;
	}

	.entryHeader {
		clear: both;
		text-align: left;

		p,a {
			font-size: rem(16px);
			color: $mainWhite;
		}

	}

	.supportCont {

		padding: 110px 0;
		border: 1px solid $lightBorder;

		.suppText {
			p {
				font-size: rem(18px);
				font-weight: 400;
				line-height: 30px;
			}
		}

		.suppImg {



		} /* end supp image */


	}/* end supp cont */

	.servicesSection {

		padding: 130px 0;

		.serviceItem {
			width: 30%;
			float: left;
			min-height: 300px;
			height: auto;
			margin-bottom: 20px;
			margin-right: 5%;

			&:nth-child(3n) {
				margin-right: 0;
			}

			.serviceImage {
				height: 50px;
				max-height: 50px;
			}

			.serviceTitle {

				padding: 30px 0 20px 0;
				margin-bottom: 20px;
				border-bottom: 1px solid $lightBorder;

				h2 {
					font-size: 22px;
					line-height: 26px;
					font-weight: 700;

				}
			}

			.serviceContent {

				p {
					font-size: rem(16px);
					line-height: normal;
					position: relative;
					padding: 0 20px 10px 20px;

					&::after {
						content: "";
						width: 20px;
						height: 20px;
						background: url(images/checkmark.png) no-repeat center center;
						position: absolute;
						left: -5px;
						top: 0;
					}

				}

			}

		}// end service item

	}// end service section

	#homeContBoxLogos {
		border-top: 1px solid $lightBorder;
	}

}