/*
====================================
Colours
====================================
*/

/* ========= MAIN COLOURS ========== */

$mainGreen: #47a951;
$mainWhite: #ffffff;
$mainTypog: #555555;


/* =========== Other COLOURS ========== */

$otherTypog: #444444;
$otherTypog2: #5a5a5a;
$otherLightTypog: #a6a6a6;
$lightBorder: #e5e5e5;
$lightBg: #f2f2f2;
$darkBlack: #2b2b2b;