.reference-page-wrap,
.reference-page-wrap .reference-list {
	margin-top: 30px;
}

.reference-page-wrap .reference-list {
	margin-bottom: 90px;
}

.reference-page-title {
	color: #fff;
	font-size: 24px;
	text-align: left;
	line-height: 60px;
	background-color: #bcc3cc;
	padding-left: 30px;
}

.reference-page-wrap .reference-list .reference-item {
	float: left;
	width: calc(100% / 5 - 22px);
	margin-right: 27.5px;
	height: auto;
	margin-bottom: 30px;
}

.reference-page-wrap .reference-list .reference-item:nth-of-type(5n) {
	margin-right: 0px;
}

.reference-page-wrap .reference-list .reference-item .reference-image {
	width: 100%;
	height: 260px;
	border-bottom: 0px;
	position: relative;
}

.reference-page-wrap .reference-list .reference-item .reference-image img {
	border: 1px solid #e1e1e1;
}


.reference-page-wrap .reference-list .reference-item .reference-title {
	line-height: 70px;
	text-align: center;
	background-color: #f7f7f7;
	border-bottom: 1px solid #e1e1e1;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.reference-page-wrap .reference-list .reference-item .reference-title h5 {
	color: #000;
	font-size: 16px;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.mfp-container {
	position: relative!important;
	max-width: 1180px!important;
	margin: 0 auto!important;
}

.mfp-counter {
	color: #878d94!important;
	right: 50%!important;
	top: 5!important;
	left: 50%;
	font-size: 16px!important;
}


button.icon-chevron-left {
	content: "\e902";
	position: absolute;
    left: 30px;
    top: 50%;
    z-index: 9999;
    border-style: none;
    font-size: 20px;
    color: #fff;
}

button.icon-chevron-right {
	content: "\e901";
	position: absolute;
	top: 50%;
    right: 30px;
    z-index: 9999;
    border-style: none;
    font-size: 20px;
    color: #fff;
}

button.border {
	padding: 15px;
}

.mfp-image-holder button.mfp-close {
	padding: 2px 8px 0;
	font-size: 25px;
	position: absolute;
	top: -10px;
	right: -10px;
	width: auto;
	line-height: normal;
	height: auto;
	border-radius: 50%;
	background-color: #878d94;
	opacity: 1;
	cursor: pointer!important;
}

img.mfp-img {
	width: 100%!important;
	padding: 10px 10px 40px!important;
	background-color: #fff;
}

.mfp-bottom-bar {
	margin-top: 0px!important;
	top: auto!important;
	bottom: 0px;
}

.mfp-title {
	height: 30px;
}

.reference-list .blog-navigation {
	width: 100%;
	text-align: right;
	margin-top: 30px;
}

